@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --color-primary-rgb: 255 115 0;
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-hover: rgb(201, 90, 0);

  --color-background-rgb: 25 25 25;
  --color-background: rgb(var(--color-background-rgb));
  
  --color-card-bg-rgb: 42 42 42;
  --color-card-bg: rgb(var(--color-card-bg-rgb));

  --color-text: white;
  --color-text-muted: white;

  --color-input-bg: rgb(25, 25, 25);
  --color-input-border: rgb(255, 115, 0);
  --color-input-focus: #0f766e;
  --color-input-ring: #2dd4bf;

  --color-success: #10b981;
  --color-error: #ef4444;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  user-select: none; /* Disable text selection */
}

/* Fix for autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-input-bg) inset !important;
    -webkit-text-fill-color: var(--color-text) !important;
    color: var(--color-text) !important;
    background-color: var(--color-input-bg) !important;
    transition: background-color 5000s ease-in-out 0s;
}

input {
    caret-color: var(--color-text);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block bg-primary hover:bg-primary-hover text-white font-semibold py-2 px-4 rounded-md shadow;
  }

  .card {
    @apply bg-card-bg rounded-lg shadow;
  }

  .btn-small {
    @apply bg-primary hover:bg-primary-hover text-white font-semibold py-1 px-3 rounded-md text-sm;
  }

  .btn-small-secondary {
    @apply bg-gray-600 hover:bg-gray-700 text-white font-semibold py-1 px-3 rounded-md text-sm;
  }

  .btn-modal {
    @apply px-4 py-2 text-primary text-base font-medium rounded-md w-full shadow-sm focus:outline-none;
  }
}

.hidden {
  display: none;
}

#avatar {
  color: white;
  text-align: center;
  font-size: 0.75rem; /* text-xs */
  line-height: 8rem; /* h-32 */
}
