GATEWAY_PORT=8080
OPENAPI_FILE=openapi.yaml

# Internal services URLs (inside docker-compose network)
AUTH_SERVICE_URL=http://auth-service:3001
USER_SERVICE_URL=http://user-service:3005
PLAYLIST_SERVICE_URL=http://playlist-service:3002
VOTE_SERVICE_URL=http://vote-service:3003
MOCK_SERVICE_URL=http://mock-service:3006
REALTIME_SERVICE_URL=http://realtime-service:3004
MUSIC_PROVIDER_SERVICE_URL=http://music-provider-service:3007

# JWT secret must be the same as in auth-service
JWT_SECRET=supersecretdev

# Simple per-IP rate limit in requests per second
RATE_LIMIT_RPS=20

# CORS
CORS_ALLOWED_ORIGIN=*
# CORS_ALLOWED_ORIGIN=http://localhost:5175 // Обязательно поменять на проверке , но при условии, что мы можем в dev использовать localhost, без внутреннего url


# CERTS
# TLS_ENABLED=true
# TLS_CERT_FILE=/certs/cert.pem
# TLS_KEY_FILE=/certs/key.pem
